*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.page{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://jooinn.com/images/color-background-5.png);
    background-attachment: fixed;
    background-size: cover;
    width: 205vh;
    height: 100vh;
}
.style{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    



}
.style h1{
    float: left;
    color: aliceblue;
}
style:hover{
    box-shadow: 4px 4px 10px black;

}
.style a{
    background-color: aqua;
    text-decoration: none;
    padding: 10px;
    color: azure;
    border-radius: 10px;
    transition-duration: 0.4s;
    

}
.style a:hover{
    background-color: azure;
    color: aqua;
}
.style li{
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style: none;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    color: aliceblue;
}
.style li:hover{
    color: aqua;
}
.style #ip{
    background: transparent;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 10px;
    border-bottom: 1px solid aqua;
    border-top: 1px solid aqua;
    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
}
.form{
    display: flex;
    justify-content: center;
    margin-left: 600px;
    margin-top: 50px;
    background-color: rgba(47, 47, 47, 0.534);
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
.content h3{
    color: aliceblue;
    margin-top: 20px;
    text-align: center;
}
.content input{
    text-align: center;
    height: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    border-bottom: 1px solid aqua;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 80px;


}
.form input:focus{
    outline: none;
}
.content::placeholder{
    color: rgb(219, 219, 219);
}
.content a{
    background-color: aqua;
    text-decoration: none;
    padding: 10px;
    color: azure;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-top: 30px;
    margin-left: 140px;
    

}
.content a:hover{
    background-color: aliceblue;
    color: aqua;
}