*{
    margin: 0;
    padding: 0;
}

.main{
    
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://img.currency.com/imgs/articles/1472xx/what-is-shiba-inu-coin-your-ultimate-guide.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width:  100%;
    background-attachment: fixed;
    
}



.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0px;
    padding-top: 10px;
    margin-top: 5px

}
.logo{
    text-shadow: 4px 5px 8px #000;
}

.menu{
    display: none;
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 77px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration:none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

#hom{
    color: #ff7200;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 950px;
    margin-top: -70px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #7b1f18;
    margin-top: 13px;
    margin-right: 0px;
    color: rgb(255, 252, 252);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: 1s ease-in-out;
}

    
    


.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 0px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 0px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(23, 21, 21, 0.8)50%,rgba(23, 21, 21, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 950px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family:  Helvetica, sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 15px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: rgba(192, 192, 192, 0.804);
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
    transform: scale(1.01);
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons i{
    text-decoration: none;
    color: #fff;
}
.icons i{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons i:hover{
    color: #ff7200;
}

@media (max-width:360px) {
    .main{
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://img.currency.com/imgs/articles/1472xx/what-is-shiba-inu-coin-your-ultimate-guide.jpg);
        background-position: center;
        background-size: cover;
        height: 3000px;
        width:  1300px;
        background-attachment: fixed;
          
    }
    .logo{
        color: #ff7200;
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 0px;
        padding-top: 10px;
        margin-top: 5px
    
    }
    .logo{
        text-shadow: 4px 5px 8px #000;
    }
    ul li a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
    }
    .content{
        
        width: 1200px;
        height: auto;
        margin: auto;
        color: #fff;
        
        justify-content: center;
        align-items: center;
        
    }
    .content h1{
        font-family: 'Times New Roman';
        font-size: 60px;
        padding-left: 75px;
        margin-top: 9%;
        letter-spacing: 2px;

    }
    .content span{
        color: #ff7200;
        font-size: 70px
    }
    .content .par{
        margin-top: 750px;
        padding-left: 30px;
        padding-bottom: 0px;
        font-family: Arial;
        font-size: 30px;
        letter-spacing: 1.2px;
        line-height: 40px;
    }
    
    .content .cn{
        width: 160px;
        height: 40px;
        background: #ff7200;
        border: none;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-top: 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
       
        
    }
    .form{
        width: 500px;
        height: 550px;
        background: linear-gradient(to top, rgba(23, 21, 21, 0.8)50%,rgba(23, 21, 21, 0.8)50%);
        position: absolute;
        top: 230px;
        left: 330px;
        transform: translate(0%,-5%);
        border-radius: 10px;
        padding: 25px;
    }
    .form h2{
        width: 480px;
        font-family:  Helvetica, sans-serif;
        text-align: center;
        color: #ff7200;
        font-size: 30px;
        background-color: #fff;
        border-radius: 10px;
        margin: 2px;
        padding: 8px;
        margin-top: 50px;
    }
    
    .form input{
        width: 480px;
        height: 35px;
        background: transparent;
        border-bottom: 1px solid #ff7200;
        border-top: none;
        border-right: none;
        border-left: none;
        color: rgb(255, 255, 255);
        font-size: 25px;
        letter-spacing: 1px;
        margin-top: 40px;
        font-family: sans-serif;
    }
    
    .form input:focus{
        outline: none;
    }
    
    ::placeholder{
        color: rgba(192, 192, 192, 0.804);
        font-family: Arial;
    }
    
    .btnn{
        width: 500px;
        height: 40px;
        background: #ff7200;
        border: none;
        margin-top: 30px;
        font-size: 30px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        transition: all 0.4s ease;
    }
    .btnn:hover{
        background: #fff;
        color: #ff7200;
        transform: scale(1.01);
    }
    .btnn a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    .form .link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    }
    .form .link a{
        text-decoration: none;
        color: #ff7200;
    }
    .liw{
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .icons i{
        text-decoration: none;
        color: #fff;
    }
    .icons i{
        color: #fff;
        font-size: 30px;
        padding-left: 55px;
        padding-top: 5px;
        transition: 0.3s ease;
    }
    .icons i:hover{
        color: #ff7200;
    }
    .search{
        display: none;
        width: 330px;
        float: left;
        margin-left: 950px;
        margin-top: -70px;
    }
    
    .srch{
        display: block;
        font-family: 'Times New Roman';
        width: 200px;
        height: 40px;
        background: transparent;
        border: 1px solid #7b1f18;
        margin-top: 13px;
        margin-right: 0px;
        color: rgb(255, 252, 252);
        border-right: none;
        font-size: 16px;
        float: left;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        transition: 1s ease-in-out;
    }
}